<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Open Weather</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <nav>
            <ul class="nav-container">
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather Chart</a></li>
                <li><a href="/about">About The Project</a></li>
            </ul>
        </nav>
        <h1 style="text-align: center">About The Project</h1>

        <div id="about">
            <p>
                This project was created to demonstrate my ability to use the Open Weather API to create a weather application, along
                with Node.js, Express.js (EJS for templating), and MongoDB Atlas as the tech stack.
            </p>
            <p>
                <ol type="1">
                    Some of the things I learned while creating this project include:
                    <li>How to code a server-side application using JavaScript</li>
                    <li>How to use an API, make HTTP requests, and parse JSON data.</li>
                    <li>Asynchronous programming with Node.js using async/await.</li>
                    <li>How to use MongoDB Atlas to store data.</li>
                    <li>Use EJS to create dynamic web pages (this was an interesting one!)</li>
                    <li>Use NGINX as a reverse proxy and why it's useful.</li>
                    <li>How to use PM2 to run Node.js applications in the background.</li>
                    <li>How to use Let's Encrypt to get a free SSL certificate.</li>
                    <li>The process of setting up a VPS, and how to use SSH to connect to it.</li>
                    <li>How to create route handlers in Express.js</li>
                </ol>
            </p>
            <p>
                It's hosted on a Linode VPS running Ubuntu Server 20.04 LTS. NGINX is used as the web server.
            </p>
        </div>
    </body>
</html>
